header{
    text-align: center;
    color: brown;
}

main{
    text-align: center;
}

#resultado{
    font-weight: bold;
    color: blue;
    text-shadow: 1px 4px 4px gray;
    background-image: url(https://w7.pngwing.com/pngs/373/171/png-transparent-blackboard-bulletin-board-whiteboard-green-white-board-s-angle-rectangle-grass-thumbnail.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
