
/*Definido por nostros mismos Customizacion propia*/
.ajusteImagen{
    width: 36px
}
.separacionIcon{
  margin: 16px;
}
.colorNavbar{
background-color: #ffc107;

}
body{
  padding-top: 68px; 
 

}
/* Los estilos THE CAROUSEL ofrecidos por Bootstrap Ejemplos ⇓
-------------------------------------------------- */
/*Esta clase ajusta imagen carrusel*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* class MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}