/*
*   Ejecuciones de estilos nativos
*
*/

h2{
    text-align: center;
    color: crimson;
    font-size: larger;
    font-weight: bold;
}

/*
*   efectos quie nos ofrece sweetAlert, entre otros
*   1. fondo
*   2. ventana
*   3. footer
*/

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
    }

.swal-modal{
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 25px;
}

.swal-footer{
    border-top: 1px solid black;

}

